 <% if @model == "user" %>
  <h2>Users search for "<%= @content %>"</h2>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Introduction</th>
        </tr>
      </thead>
  <% @dates.each do |user| %>
    <tbody>
      <tr>
        <th>
          <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.jpg", size:'40x40') %>
        </th>
        <th>
          <%= link_to user.name, user_path(user), class: "user_#{user.id}" %>
        </th>
        <th>
          <%= user.introduction %>
        </th>
      </tr>
    </tbody>
  <% end %>
  <% elsif @model == "book" %>
  <h2>Books search for '<%= @content %>'</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <% @dates.each do |book| %>
      <tbody>
        <tr>
          <th>
            <%= attachment_image_tag(book.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.jpg", size:'40x40') %>
          </th>
          <th>
            <%= link_to book.title, book_path(book), class: "book_#{book.id}" %>
          </th>
          <th>
            <%= book.body %>
          </th>
        </tr>
      </tbody>
      <% end %>
    <% end %>
    </table>